/*
    Author: Arham Islam
    File Description: Styling for index.php and register.php.
    Date Created: July 26, 2023
*/

@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville&display=swap');

body {
    background-color: #F5F5F5;
}

p {
    margin: 0px;
}

.text {
    font-family: 'Libre Baskerville', serif;
    color: #343434;
}

.logoContainer {
    width: 640px;
    height: 200px;
    margin-top: 200px;
    margin-bottom: 200px;
    margin-left: 200px;
    margin-right: 0px;
}

.logoHome {
    width: 640px;
    height: 113.333333333px;
}

.logoText {
    margin-top: 10px;
    margin-left: 139px;
}

.userContainer {
    margin-top: 200px;
    margin-left: 350px;
}

.box {
    padding: 20px;
    background-color: white;
}

.forgotPassword:link {
    color: #6C757D;
    text-decoration: none;
}

.forgotPassword:visited {
    color: #6C757D;
    text-decoration: none;
}

.forgotPassword:hover {
    color: black;
    text-decoration: none;
}

.forgotPassword:active {
    color: #DB2E2E;
    text-decoration: none;
}

.logRegLink:link {
    color: #DB2E2E;
    text-decoration: none;
}

.logRegLink:visited {
    color: #DB2E2E;
    text-decoration: none;
}

.logRegLink:hover {
    color: darkred;
    text-decoration: none;
}

.logRegLink:active {
    color: black;
    text-decoration: none;
}